<!-- Evangelisation Start Start-->
    <div class="price"> 
        <div class="container">
            <div class="section-header text-center">
                <p>La marche avec Jésus</p>
                <h2>L'APPEL DE DIEU AU SALUT</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="price-item">
                        <div class="price-header">
                            <h3>Découvrir Jésus</h3>
                            <h2><strong>25</strong></h2>
                        </div>
                        <div class="price-body">
                            Textes
                        </div>
                        <div class="price-footer">
                            <a class="btn btn-custom" href="">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-item featured-item">
                        <div class="price-header">
                            <h3>Une vie sans Jésus</h3>
                            <h2><strong>35</strong></h2>
                        </div>
                        <div class="price-body">
                            Textes
                        </div>
                        <div class="price-footer">
                            <a class="btn btn-custom" href="">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-item">
                        <div class="price-header">
                            <h3>L'appel de Dieu</h3>
                            <h2><strong>49</strong></h2>
                        </div>
                        <div class="price-body">
                            Textes
                        </div>
                        <div class="price-footer">
                            <a class="btn btn-custom" href="">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="price"> 
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="price-item">
                        <div class="price-header">
                            <h3>Demeurer dans l'appel</h3>
                            <h2><strong>25</strong></h2>
                        </div>
                        <div class="price-body">
                            Textes
                        </div>
                        <div class="price-footer">
                            <a class="btn btn-custom" href="">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-item featured-item">
                        <div class="price-header">
                            <h3>L'assurance du salut</h3>
                            <h2><strong>35</strong></h2>
                        </div>
                        <div class="price-body">
                            Textes
                        </div>
                        <div class="price-footer">
                            <a class="btn btn-custom" href="">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-item">
                        <div class="price-header">
                            <h3>Le savoir vivire en Christ</h3>
                            <h2><strong>49</strong></h2>
                        </div>
                        <div class="price-body">
                            Textes
                        </div>
                        <div class="price-footer">
                            <a class="btn btn-custom" href="">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Evangelisation End -->

