{% extends 'base.html.twig' %}

{% block title %}Hello EEDSC!{% endblock %}

{% block body %}

        <!-- Carousel Start -->
        <div class="carousel">
            <div class="">
                <div class="owl-carousel">
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="img/adorer.jpg" alt="Image" style="height: 670px; object-fit: cover;">
                        </div>
                        <div class="carousel-text">
                            {# <h3>Washing & Detailing</h3> #}
                            <h1>BIENVENUE à EEDSC</h1>
                            <p>
                                Eglise Evengelique de la Délivrance et du Salut en Christ
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="img/adorer1.jpg" alt="Image" style="height: 670px; object-fit: cover;">
                        </div>
                        <div class="carousel-text">
                            {# <h3>Washing & Detailing</h3> #}
                            <h1>BIENVENUE à EEDSC</h1>
                            <p>
                                Eglise Evengelique de la Délivrance et du Salut en Christ                            
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="img/adorer2.webp" alt="Image" style="height: 670px; object-fit: cover;">
                        </div>
                        <div class="carousel-text">
                            {# <h3>Washing & Detailing</h3> #}
                            <h1>BIENVENUE à EEDSC</h1>
                            <p>
                                Eglise Evengelique de la Délivrance et du Salut en Christ                            
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->
    
        <!-- Evangelisation Start Start-->
        {% include 'discipolat.html.twig' %} 
        <!-- Evangelisation End -->

        
        <!-- Bref présentation de l'église Start-->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="img/unnamed.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-header text-left">
                            <p>A propos de nous</p>
                            <h2>Eglise Evengelique de Délivrance et de Salut en Christ</h2>
                        </div>
                        <div class="about-content">
                            <p>
                                L’Eglise Evangélique de la Délivrance et du Salut en Christ (E.E.D.S.C), présidée par Rév. Dr. Nazaire HOUNKPADODE compte plusieurs extensions sur le territoire national et a connu une croissance remarquable depuis sa naissance. Cela révèle non seulement la main du Seigneur qui accompagne le ministère mais aussi l’obéissance, le travail, le sacrifice et le dévouement de l’homme de Dieu d’apporter l’évangile à toutes les nations. Les enseignements donnés par l’homme de Dieu sont oints, édifient et forment des disciples accomplis dans la foi.
                            </p>
                            {# <ul>
                                <li><i class="far fa-check-circle"></i>Seats washing</li>
                                <li><i class="far fa-check-circle"></i>Vacuum cleaning</li>
                                <li><i class="far fa-check-circle"></i>Interior wet cleaning</li>
                                <li><i class="far fa-check-circle"></i>Window wiping</li>
                            </ul> #}
                            <a class="btn btn-custom" href=""> Voir Plus </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bref présentation de l'église End -->
        
        
        <!-- Service de l'eglise Start Start-->
            {% include 'service.html.twig' %} 
        <!-- Service de l'eglise End -->

        <!-- Facts Start Start-->
        <div class="facts" data-parallax="scroll" data-image-src="img/facts.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">25</h3>
                                <p>Extensions ministère</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-user"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">350</h3>
                                <p>Utilisateurs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-users"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">1500</h3>
                                <p>Âmes gagnés</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-check"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">5000</h3>
                                <p>Témoignages</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Facts End -->
         
        <!-- Nos église Start-->
        <div class="location">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="section-header text-left">
                            <p>Extensions du ministère</p>
                            <h2>Nos église </h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="location-item">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <div class="location-text">
                                        <h3>Car Washing Point</h3>
                                        <p>123 Street, New York, USA</p>
                                        <p><strong>Call:</strong>+012 345 6789</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="location-item">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <div class="location-text">
                                        <h3>Car Washing Point</h3>
                                        <p>123 Street, New York, USA</p>
                                        <p><strong>Call:</strong>+012 345 6789</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="location-item">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <div class="location-text">
                                        <h3>Car Washing Point</h3>
                                        <p>123 Street, New York, USA</p>
                                        <p><strong>Call:</strong>+012 345 6789</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="location-item">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <div class="location-text">
                                        <h3>Car Washing Point</h3>
                                        <p>123 Street, New York, USA</p>
                                        <p><strong>Call:</strong>+012 345 6789</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="location-form">
                            <h3>Demander une recommandation</h3>
                            <form>
                                <div class="control-group">
                                    <input type="text" class="form-control" placeholder="Name" required="required" />
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" placeholder="Email" required="required" />
                                </div>
                                <div class="control-group">
                                    <textarea class="form-control" placeholder="Description" required="required"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-custom" type="submit">Send Request</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nos église End -->

         <!-- Les livres du Pasteur Start -->
        <div class="team">
            <div class="container">
                <div class="section-header text-center">
                    <p>Les ouvrages </p>
                    <h2>Les livres du Pasteur</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="img/livre1.jpg" alt="livre"  style="height: 350px; object-fit: cover;">
                            </div>
                            <div class="team-text">
                                <h2>Donald John</h2>
                                <p>Engineer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="img/livre2.jpg" alt="livre"  style="height: 350px; object-fit: cover;">
                            </div>
                            <div class="team-text">
                                <h2>Adam Phillips</h2>
                                <p>Engineer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="img/livre3.jpg" alt="livre"  style="height: 350px; object-fit: cover;">
                            </div>
                            <div class="team-text">
                                <h2>Thomas Olsen</h2>
                                <p>Worker</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="img/livre4.jpg" alt="livre"  style="height: 350px; object-fit: cover;">
                            </div>
                            <div class="team-text">
                                <h2>James Alien</h2>
                                <p>Worker</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Les livres du Pasteur End -->

        <!-- Testimonial Start -->
        {# <div class="testimonial">
            <div class="container">
                <div class="section-header text-center">
                    <p>Testimonial</p>
                    <h2>What our clients say</h2>
                </div>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item">
                        <img src="img/testimonial-1.jpg" alt="Image">
                        <div class="testimonial-text">
                            <h3>Client Name</h3>
                            <h4>Profession</h4>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="img/testimonial-2.jpg" alt="Image">
                        <div class="testimonial-text">
                            <h3>Client Name</h3>
                            <h4>Profession</h4>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="img/testimonial-3.jpg" alt="Image">
                        <div class="testimonial-text">
                            <h3>Client Name</h3>
                            <h4>Profession</h4>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="img/testimonial-4.jpg" alt="Image">
                        <div class="testimonial-text">
                            <h3>Client Name</h3>
                            <h4>Profession</h4>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> #}
        <!-- Testimonial End -->

        <!-- Les programmes et evernements de l'église Start -->
            {% include 'agenda.html.twig' %}
        <!-- Les programmes et evernements de l'église End -->
{% endblock %}
