 <!-- Service de l'eglise Start Start-->
    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <p>Aviez vous besoin d'aide?</p>
                <h2>Nous sommes là pour vous aidez</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-car-wash-1"></i>
                        <h3>BESOIN DE PRIERE</h3>
                        {# <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p> #}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-car-wash"></i>
                        <h3>BESOIN DE CONSEILS</h3>
                        {# <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p> #}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-vacuum-cleaner"></i>
                        <h3>BESOIN DE DELIVRANCE</h3>
                        {# <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p> #}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-seat"></i>
                        <h3>BESOIN D'UNE NAISSANCE SURNATURELLE</h3>
                        {# <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p> #}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-car-service"></i>
                        <h3>Besoin de rrestauretion</h3>
                        {# <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p> #}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-car-service-2"></i>
                        <h3>Besoin de guérison</h3>
                        {# <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p> #}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-car-wash"></i>
                        <h3>Besoin d'aide dans votre foyer</h3>
                        {# <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p> #}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-brush-1"></i>
                        <h3>Besoin de reconfort</h3>
                        {# <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Service de l'eglise End -->